@charset "UTF-8";
@import url('/css/font.css');

*{ 
	margin: 0; 
	padding: 0; 
	border: none; 
	list-style: none; 
	/* font-family:'나눔 고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif; */ 
	/* font-family:'나눔 고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum; */ 
	font-family:'HanSans','궁서'; 
	color:#666666;
	/* color:#ffffff; */
	font-size: 12px;
	/* -webkit-touch-callout:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0); */
	-webkit-user-select: none;
}
html, body{width: 100%; height: 100%;}
ol, li, ul{list-style: none;}
a:link, a:visited, a:active { color: #404040; text-decoration: none; }
/* img{display: block; margin: 0; border:none; max-width: 100%;} */
img{display: block; margin: 0; border:none;}

.grade_color_1{background: #10c4ff;}
.grade_color_2{background: #8dbd4d;}
.grade_color_3{background: #fed339;}
.grade_color_4{background: #ff9319;}
.grade_color_5{background: #f16863;}
/* .grade_color_6{background-color: #d24b16;} */

.score1 {color:#10c4ff;}
.score2 {color:#8dbd4d;}
.score3 {color:#fed339;}
.score4 {color:#ff9319;}
.score5 {color:#f16863;}

#wrapper{}
.mainWrapper{padding: 30px 40px 0px 40px;}

#wrapper header{width: 100%;}
#wrapper section{width: 100%;}

#login_id{margin-top: 28px; width: 100%; height: 40px; border: 1px #b3b3b3 solid; font-size: 14px; text-indent: 1em;}
#login_pw{margin-top: 20px; width: 100%; height: 40px; border: 1px #8dbd4c solid; font-size: 14px; text-indent: 1em;}
#boxSaveId{margin-top: 10px;}
#boxSaveId input{margin: 0; padding: 0; vertical-align: middle;}
#boxSaveId span{color: #999999;}
.line{margin-top: 10px; margin-bottom: 10px; width: 100%; height: 1px; background-color: #e2e2e2;}
#boxLogin{margin-top: 10px; font-size: 16px; padding-top: 10px; color: #ffffff; text-align: center; vertical-align: middle; width: 100%; height: 33px; background-color:#8dbd4c; -moz-border-radius: 3px; /*모질라*/ -webkit-border-radius: 3px; /*웹킷*/ /*IE9+,FF4+,chrome,Safari5,+opera*/ border-radius: 3px;}
.imgCenter{margin: 0 auto}

/* dashboard */
.defaultWrapper {margin-bottom:20px; background:#f7f7f7;}
.defaultWrapper header{height: 44px; background-color: #8dbd4c; width: 100%;}
.defaultWrapper header #calBox{float: left; margin: 14px 0px 0px 14px;}
/*.defaultWrapper header #logBox{float: right; margin: 14px 0px 0px 14px;}*/
.defaultWrapper header #selectedDate{color: #ffffff; text-align: center; width: 100%; padding-top: 12px; margin-left: -14px; font-weight: bold; font-size: 16px;}

.defaultWrapper #infoBox{height: 37px; border-bottom: 1px #eff1ef solid; vertical-align: middle; padding: 15px 0px 0px 13px;}
.defaultWrapper #infoBox .driveInfoBox{float: left; width: 50%; text-align: left;}
.defaultWrapper #infoBox .driveInfoBox img{display: inline; margin: 0; padding: 0; vertical-align: middle;float: left;}
.defaultWrapper #infoBox .driveInfoBox div{font-size: 14px; margin-top: 2px; float: left; margin-left: 6px;}
.defaultWrapper #infoBox .distanceInfoBox{float: right; width: 50%; text-align: right;}

.defaultWrapper #infoBox .distanceInfoBox img{display: inline; margin: 0; padding: 0; vertical-align: middle;}
.defaultWrapper #infoBox .distanceInfoBox div{font-size: 14px; margin-top: 2px; float: right; margin-left: 6px;}

.defaultWrapper #chartInfoBox{width: 100%; padding-bottom:20px;}
.defaultWrapper #chartInfoBox table{width: 95%; margin:auto;}
.defaultWrapper #chartInfoBox .bb {border-bottom:1px #cbcbcb dashed; height:5px;}

.defaultWrapper #chartInfoBox .scoreTable {height:40px; margin-top:5px; width:100%;}
.defaultWrapper #chartInfoBox .scoretd {width:30%;}
.defaultWrapper #chartInfoBox .scoretd2 {width:40%;}
.defaultWrapper #chartInfoBox .score{font-size:14px; text-align:center;  margin:5px 0px; font-size:10px; color:#acacac;}
.defaultWrapper #chartInfoBox .score .nurmber {font-size:18px; font-weight:bold; color:#686868; }
.defaultWrapper #chartInfoBox .score .unit {font-size:10px; font-weight:normal; color:#acacac;}
.defaultWrapper #chartInfoBox .chartBox {}
.defaultWrapper #chartInfoBox .chartBoxDiv {position:relative; width:80px; height:60px; float:left;}
.defaultWrapper #chartInfoBox .chartBoxDiv .circle {position:absolute; width:72px; height:72px; border-radius:40px; left:50%; top:50%; margin-left:-35px; margin-top: -10px; background:#f5f5f5; border:4px #cbcbcb solid;}
.defaultWrapper #chartInfoBox .chartBoxDiv .circle .ecoarrow {margin-top:10px;}
.defaultWrapper #chartInfoBox .chartBoxDiv .circle .ecoscore {font-size:36px; line-height:40px; font-weight:bold;}
.defaultWrapper #chartInfoBox .chartBoxDiv .circle .ecoUnit {font-size:10px; line-height:12px; color:#565656;}
.defaultWrapper #chartInfoBox .chartBox #piechartDiv{position:absolute; width:80px; height:80px; left:50%; top:50%; margin-left:-35px; margin-top:-10px; }
.defaultWrapper #chartInfoBox .chartBox .piechartLegendInfo{float: right; width: 75%; text-align: left;}
.defaultWrapper #chartInfoBox .chartBox .piechartLegendInfo ul li{padding-bottom: 5px;}
.defaultWrapper #chartInfoBox .chartBox .piechartLegendInfo ul li img{display: inline; vertical-align: middle; margin: 0; padding: 0px;}

.defaultWrapper #ecoInfoBox{height: 37px; border-bottom: 1px #eff1ef solid; padding: 20px 0px 0px 13px;}
.defaultWrapper #ecoInfoBox ul li span{font-size: 12px; color: #666666; font-weight: bold;}
.defaultWrapper #ecoInfoBox img{display: inline; vertical-align: middle; margin: 0; padding: 0px;}
.defaultWrapper #ecoInfoBox .leftBox{float: left; width: 40%; vertical-align: middle;}
.defaultWrapper #ecoInfoBox .leftBox .value{font-size: 1.5em;}
.defaultWrapper #ecoInfoBox .rightBox .value{font-size: 1.5em;}
.defaultWrapper #ecoInfoBox .rightBox{float: right; width: 60%; text-align: right;}

#avgTripInfoBox{height: 37px; vertical-align: middle; padding: 15px 27px 9px 13px;}
#avgTripInfoBox ul li{float: left; width: 33.33%; text-align: right;}
#avgTripInfoBox ul li .label{font-size: 1.1em; color: #b3b3b4} 
#avgTripInfoBox ul li .value span{font-size: 1.3em; color: #54702d; font-weight: bold; margin-top: 4px;}

#firstTripLinkedBox{margin-top: 5px;}
#firstTripLinkedBox hr{width: 100%; height: 1px; float: left;}
#firstTripLinkedBox div{margin-left: 31px; float: left; margin-top: -30px;}
#firstTripLinkedBox div .circle{background-color: #e6e6e6; width: 18px; height: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px; color:#ffffff; font-size:14px; font-weight:bold;}
#firstTripLinkedBox div .bar{width: 4px; height: 65px; background-color: #b3b3b3; margin-left: 7px; z-index: -1}
#firstTripTimeBox{height: 55px; background-color: #f7f7f7;}
#firstTripTimeBox .sign{float: left; position: relative; border: 3px #ffffff solid; width: 26px; height: 26px; -webkit-border-radius: 26px; -moz-border-radius: 26px; margin-left: -25px; margin-top: 10px; font-size:14px; font-weight:bold;color:#ffffff; text-align:center; line-height:26px;}
#firstTripTimeBox .time{padding-top: 20px; padding-left: 65px; font-size: 14px;}
#firstTripTimeBox .timeDistance {font-size: 12px; color:#686868;}

.noneItem{text-align: center; padding-top: 40px; font-weight: bold; font-size: 14px; color: #666666; border-top: 1px #d2d6cb solid; background-color: #f7f7f7;}
.noneItemHr{border-top: 1px #e4e6e1 solid;}
.tripItemBox{padding: 0px 10px 0px 10px; background-color: #f7f7f7;}
.tripItemBox div{border: 1px #d4d9ce solid; background-color: #ffffff}
.tripItemBox div table{ border-spacing: 0px; padding: 0px; border-collapse: collapse; margin:0px;}
.tripItemBox div table tr td{text-align: right; width: 33.33%;}
.tripItemBox div table tr td .topTitlePadding{padding-top: 2px;}
.tripItemBox div table tr td .title{color: #acacac; font-size:9px;}
.tripItemBox div table tr td .result{font-size: 14px; font-weight: bold; color: #666666; padding:2px 0; margin-top:-5px; }
.tripItemBox div table tr td .unit{color: #acacac; font-size:8px; font-weight:regular;}
.tripItemBox div table tr td img{display: inline; vertical-align: middle; margin: 0; padding: 0px; padding: 0px 10px 0px 10px; }

.etcTripLinkedBox div{background-color: #f7f7f7; height: 52px;}
.etcTripLinkedBox div .sign{float: left; width: 26px; height: 26px; -webkit-border-radius: 26px; -moz-border-radius: 26px; margin-top: -55px; margin-left: 24px; border: 2px #ffffff solid; font-size:14px; font-weight:bold;color:#ffffff; text-align:center; line-height:26px;}
.etcTripLinkedBox div .time{float: left; font-size: 14px; margin-top: -50px; margin-left: 60px;}
.etcTripLinkedBox div .bar{width: 4px; height: 65px; background-color: #b3b3b3; margin-left: 38px;}

.chartSection{display: none;}
.noChartSection{display: none; background-color: #f7f7f7}



.toggleItem{display: none; border: none;}
.toggleItem .mapBox{height: 200px; border: none; padding-right: 10px; margin-left: 10px;}
.toggleItem .addressBox{height: 50px; border: none; padding: 10px 10px 0px 10px;}
.toggleItem .addressBox span{font-size: 12px; height: 14px; display: block; padding: 3px 0px 3px 0px;}

.toggleItem .addressBox .to{float: right; vertical-align: top;}


/* 차트 페이지 */
.chartArticle{padding: 10px 10px 0px 10px;}
/* .chartArticle .title{
	border: 1px #d5d9ce solid; 
	border-bottom: 0px; 
	height: 22px; 
	padding: 10px 0px 0px 10px;
	background: linear-gradient(#f7f7f7, #ebebeb);
	font-weight: bold;
} */
.chartArticle .title img{display: inline; vertical-align: middle; margin-top: -2px;}
.chartArticle .chartDiv{height: 165px;}
.chartArticle #titleTable{width: 100%; border-spacing: 0px; padding: 0px; border-collapse: collapse; border: none; margin-bottom:10px;  border-bottom:2px #8dbd4c solid;} 
.chartArticle #titleTable td .header{margin: 10px 0px 10px 10px; line-height: 17px;}
.chartArticle #titleTable td .header img{display: inline; vertical-align: middle; padding-top: -2px;}
.chartArticle #titleTable td .header span{font-size: 17px; font-weight: bold; padding-left: 6px; vertical-align: bottom;}

.chartArticle #statTable{width: 100%; border-spacing: 0px; padding: 0px; border: none; margin-bottom:10px; background:#f5f5f5; border-top:1px solid #d5d8d1; border-right:1px solid #d5d8d1;} 
.chartArticle #statTable td{border: 1px solid #d5d8d1; border-top:1px solid #fff; border-right:1px solid #ffffff; width: 50%;}
.chartArticle #statTable td .header{margin: 10px 0px 0px 10px;}
.chartArticle #statTable td .header img{display: inline; vertical-align: middle; padding-top: -2px;}
.chartArticle #statTable td .header span{font-size: 17px; font-weight: bold; padding-left: 6px; vertical-align: bottom;}
.chartArticle #statTable tbody td{padding: 10px; font-size: 12px;}
.chartArticle #statTable tbody td .value span{width: 100%; text-align: right; font-size: 16px; font-weight: bold;}
.chartArticle #statTable tbody td .value{width: 100%; text-align: right; font-size: 16px; font-weight: bold;}
.chartArticle #statTable .lablePeriodWrap{height: 40px; background-color: #f8f8f8;}
.chartArticle #statTable .lablePeriodWrap #lablePeriod{font-size: 14px; font-weight: bold;}

.chartArticle #chartTable{width: 100%; border-spacing: 0px; padding: 0px; border: none; margin-bottom:10px; border-collapse:collapse; background:#ffffff;} 
.chartArticle #chartTable td{border: 1px solid #d5d8d1; width: 50%;}
.chartArticle #chartTable td .header{margin: 10px 0px 0px 10px;}
.chartArticle #chartTable td .header img{display: inline; vertical-align: middle; padding-top: -2px;}
.chartArticle #chartTable td .header span{font-size: 17px; font-weight: bold; padding-left: 6px; vertical-align: bottom;}
.chartArticle #chartTable tbody td{padding: 10px; font-size: 12px;}
.chartArticle #chartTable tbody td .value span{width: 100%; text-align: right; font-size: 16px; font-weight: bold;}
.chartArticle #chartTable tbody td .value{width: 100%; text-align: right; font-size: 16px; font-weight: bold;}
.chartArticle #chartTable .lablePeriodWrap{height: 40px; background-color: #f8f8f8;}
.chartArticle #chartTable .lablePeriodWrap #lablePeriod{font-size: 14px; font-weight: bold;}

.chartArticle #itemListBox{width: 100%; padding: 0; margin: 0; margin-bottom:10px;}
.chartArticle #itemListBox .itemTable{width: 100%; border-spacing: 0px; padding: 0px;  margin-top: 3px; background:#f5f5f5; border-top:1px solid #d5d8d1; border-right:1px solid #d5d8d1;}
.chartArticle #itemListBox .itemTable td{width: 50%; border: 1px solid #d5d8d1; border-top:1px solid #fff; border-right:1px solid #ffffff;}
.chartArticle #itemListBox .itemTable td .header{margin: 10px 0px 12px 10px;}
.chartArticle #itemListBox .itemTable td .header img{display: inline; vertical-align: middle; padding-top: -2px;}
.chartArticle #itemListBox .itemTable td .header span{font-size: 17px; font-weight: bold; padding-left: 6px; vertical-align: bottom;}
.chartArticle #itemListBox .itemTable tbody td{padding: 10px; font-size: 12px;}
.chartArticle #itemListBox .itemTable tbody td .value span{width: 100%; text-align: right; font-size: 16px; font-weight: bold;}
.chartArticle #itemListBox .itemTable tbody td .value{width: 100%; text-align: right; font-size: 16px; font-weight: bold;}

/* 전체 맵 페이지 */
#infoWindow{width: 100%; background: #465568;}
#infoWindow div{padding: 10px 20px 10px 15px;}
#infoWindow div .toDate{font-weight: bold; color: #ffffff; font-size: 12px; line-height: 25px;}
#infoWindow div .from{color: #ffffff; line-height: 14px;}
#infoWindow div .to{color: #ffffff;}
#mapDiv{width: 100%; height: 100%; padding: 0px; margin: 0px;}


/*온리웹뷰*/
.chartTab {width:100%;}
.chartTab td {width:33%; padding:10px 0px; background:#eeeeee; border-top:5px #eeeeee solid;}
.chartTabOn {border-bottom:5px #8dbd4d solid; text-align:center; font-size:12px;}
.chartTabOff {border-bottom:5px #eeeeee solid; text-align:center; font-size:12px;}
.chartTabDiv {width:99%; text-align:center;}
.chartTab .br {border-right:1px #cbcbcb solid;}

.datetable {width: 100%; border-spacing: 0px; padding: 0px; border-collapse: collapse; border:none; margin-bottom:10px;}

.datetable .lablePeriodWrapLeft{height: 30px; width:60%;}
.datetable .lablePeriodWrapLeft #lablePeriod{font-size: 14px; font-weight: bold;}
.datetable .lablePeriodWrapRight{height: 30px; text-align:right;}
.datetable .lablePeriodWrapRight .on{color:#8cbc4c;}


.toggleImg {width:25px;}

/*주행패턴 */

.patternWrapper {background:#f7f7f7;}
.patternWrapper #patternBox {padding-top:5px 0; border-bottom:1px #cbcbcb solid; background:#ffffff;}
.patternWrapper #patternBox table {width:100%;}
.patternWrapper #patternBox td {width:30%; text-align:center; line-height:20px;}
.patternWrapper #patternBox td .title{font-size:14px; text-align:center;  margin:5px 0px; font-size:10px; color:#acacac;}
.patternWrapper #patternBox td .score{font-size:18px; font-weight:bold; color:#686868; }
.patternWrapper #patternBox td .unit{font-size:10px; font-weight:normal; color:#acacac;}
.patternWrapper #patternBox th {width:40%}
.patternWrapper #patternBox .chartBoxDiv {position:relative; width:80px; height:60px; float:left;}
.patternWrapper #patternBox .circle {position:absolute; width:92px; height:92px; border-radius:50px; left:50%; top:50%; margin-left:-20px; margin-top: -50px; background:#f5f5f5; border:4px #cbcbcb solid; text-align:center;}
.patternWrapper #patternBox .circle .ecoarrow {margin:auto; margin-top:15px; text-align:center; width:100%;}
.patternWrapper #patternBox .circle .ecoscore {font-size:36px; line-height:40px; font-weight:bold;}
.patternWrapper #patternBox .circle .ecoUnit {font-size:10px; line-height:12px; color:#565656;}
.patternWrapper #patternBox #piechartDiv{position:absolute; width:100px; height:100px; left:50%; top:50%; margin-left:-20px; margin-top:-50px; }

.patternTitle {background:#f7f7f7; padding:10px 15px 0px 15px; line-height:30px; font-size:16px;}
.patternTitle .titleIcon {width:30px; margin:0px 10px; float:left;}
.patternTitle .patternLine {width:100%; height:1px; border:0px; background:#cbcbcb; border-spacing: 0px; padding: 0px; border-collapse: collapse; margin:0px;}
.patternTitle .patternLine .alert {background:#e46666; width:40%;}
.patternTitle .patternLine .eco {background:#8bba12; width:40%;}

.patternContent {background:#f7f7f7;}
.patternContent .content {width:90%; margin:auto;}
.patternContent .content td {padding:0px 5px;}
.patternContent .content .title {width: 25%; text-align:left; border-right:1px #cbcbcb solid;}
.patternContent .content .star {width: 50%; text-align:center; font-size:24px; line-height:24px; color:#8bba12;}
.patternContent .content .star5 {width: 50%; text-align:center; font-size:24px; line-height:24px; color:#65a3f0;}
.patternContent .content .star1 {width: 50%; text-align:center; font-size:24px; line-height:24px; color:#e46666;}
.patternContent .content .point {width: 20%; text-align:right; font-size:14px;}
.patternContent .content .unit {color:#acacac; font-size:10px;}

/*제휴이벤트*/
.eventBody {background:#f5f5f5;}
.eventBody a:link, .eventBody a:visited, .eventBody a:active { background: #404040; text-decoration: none; }
.eventBox {margin:5px; border:1px #cbcbcb solid; border-radius:6px; background:#ffffff; padding:5px; position:relative;}
.eventBoxCase {margin:0px; position: absolute; border-radius:6px; z-index:99; height:100%; width:100%; left:0px; top:0px;}
.eventBoxCaseOn {margin:0px; position: absolute; border-radius:6px; z-index:99; height:100%; width:100%; left:0px; top:0px; background:rgba(141,189,77,0.2);}
.eventBoxOn {margin:5px; border:1px #cbcbcb solid; border-radius:6px; background:#cbcbcb; padding:5px; position:relative;}
.eventLink {background:#8dbd4d; position:absolute; bottom:0px; right:0px; width:24px; height:24px; line-height:24px; border-radius:0px 0px 5px 0px; text-align:center; color:#ffffff;}
.iconImage {width:85px; height:85px;}
.eventTable {width:98%;}
.eventIcon {width:90px;}
.eventContents {padding-left:10px;}
.eventImage {padding-left:10px; text-align:center;}
.eventTitle {font-size:20px; font-weight:bold;}
.eventValue {color:#acacac; font-size:10px;}
.eventCategory {font-weight:bold; font-size:10px;}
.one_image {text-align:center;}
.original_image {width:100%; max-height:100px; margin:auto;}
.eventThumnail {font-size:12px; font-weight:bold;}
.eventNotice {height:100px; max-width:100%;}

.eventBox_kakao {margin:5px; border:1px #cbcbcb solid; border-radius:6px; background:#fae100; padding:5px; position:relative;}